doctype 5
html
  head
    title stylesheet.io
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container-narrow
      .masthead
        ul.nav.nav-pills.pull-right
          li.active
            a(href='/') Home
          li
            a(href='/view') View
          li
            a(href='https://twitter.com/supershabam', target='_blank') Contact
        h3.muted stylesheet.io
      hr
      .jumbotron
        h1 Yo dawg,
        p.lead I heard you hate frontend, so I made a backend for your frontend.
      .footer
        p A work-in-progress by 
          a(href='https://twitter.com/supershabam', target='_blank') @supershabam
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39533431-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
